<html>
    <head>
        <link href="../../../static/css/board.css" rel="stylesheet" />
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <link rel="icon" type="image/x-icon" href="../../../static/assets/favicon.ico" />
        <link href="../../../static/css/styles.css" rel="stylesheet" />

        <title>Blog List</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand">Shooting Game</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Board</a></li>
                        <li class="nav-item"><a class="nav-link" href="../credit/">Credit</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- 게시판(postlist)의 게시글(list)을 하나씩 보여줍니다 -->
        <!-- {와 %로 이루어진 구문 내부엔 파이썬이 사용됩니다 -->
            <section class="notice">
                <div class="page-title">
                      <div class="container">
                          <h3>자유게시판</h3>
                      </div>
                  </div>
                <!-- board list area -->
                  <div id="board-list">
                      <div class="container">
                          <table class="board-table">
                              <thead>
                              <tr>
                                  <th scope="col" class="th-num">번호</th>
                                  <th scope="col" class="th-title">제목</th>
                                  <th scope="col" class="th-date">글쓴이</th>
                              </tr>
                              </thead>
                              <tbody>
                                {% for list in postlist %}
                                <tr>
                                    <td>{{list.pk}}</td>
                                    <th>
                                        <a href="{{list.pk}}/" style="text-decoration: none;">{{list.postname}}</a>
                                        <p>테스트</p>
                                    </th>
                                    <td>{{list.name}}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
                </br>
                </br>
                <!-- 버튼 가운데 정렬-->
                <div class="text-center">
                    <button class="btn btn-dark" onclick="location.href='new_post/'" style=" height: auto; ">글쓰기</button>
                </div> 

              </section>
              
    </body>
</html>